.container {
    padding: 1em
}

.title {
    font-size: 2.5em;
    line-height: 1.15em;
}

.accordion {
    --bs-accordion-btn-icon: none;
    --bs-accordion-btn-active-icon: none;
    --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-button:focus {
    border-color: white
}

.accordion-body {
    text-align: left;
    font-size: 0.9em;
}

.form-check {
    margin-bottom: 1em;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #00633a !important;
}

.nav-link {
    color: black;
}

.nav-link:focus,
.nav-link:hover {
    color: #00633a;

}

.station-name {
    width: 100%;
}

.accordion-item {
    margin: 5px 0 5px 0;
}

.navbar {
    background-color: #00633a;
}

.btn-login {
    background-color: #00633a;
    color: white;
}

.btn-login:hover {
    background-color: #00633a;
    color: white;
}


.positions {
    background-color: #00633a !important;
    color: white;
    width: 100%;
    margin: 5px;
}

.positions:hover {
    color: white;
}

footer {
    background-color: whitesmoke;
    font-size: 0.9em;
    margin-top: 5em;
    text-align: end;
}